@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

 body {
    font-family: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accounts-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

.container {
    background-color: #ffffff;
    max-width: 1000px;
    width: 100%;
    height: 650px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.main-accounts-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;

}




button {
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 12px;
}

li {
    list-style: none;
}

.accounts-heading {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.heading-right button {
    font-size: 40px;
    position: absolute;
    top: -28px;
    right: -18px;
    color:#888;
    font-weight: 400;
    background-color: transparent;
}

.make-payment-box-container {
    padding-top: 8px;
}

.accounts-heading h4 {
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    /* line-height: 1.2; */
    text-transform: uppercase;
}

.accounts-heading p {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
}

.accounts-sheets {
    display: flex;
    width: 100%;
    gap: 20px;
}

.regular-seats {
    background-color: #F0F0F0;
    padding: 12px 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.seats-heading h4 {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.left-add-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    padding: 5px;
    background-color: #E5E5E5;
    border-radius:5px;
}

.right-add-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
    flex: 1;
     padding: 5px;
    background-color:#E5E5E5;
    border-radius: 5px;
}
/* .multiple-seats .right-add-box{
    margin-left: 4px;
    padding-right: 4px;
} */
.add-title {
    flex: 1;
}

.add-title p {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
}

.add-item-box {
    background-color: #ffffff;
    border: 1px solid #B7B7B7;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    font-size: 13px;
    color: #000000;
}

.seats-add-box {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.fa-minus,
.fa-plus {
    font-size: 13px;
    background-color: #ffffff;
    color: #000000;
    border: none !important;
}

.add-item-box :nth-child(1) {
    border-right: 1px solid #B7B7B7;
}

.add-item-box :nth-child(3) {
    border-left: 1px solid #B7B7B7;
}

.account-sheet-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 580px;
}

.multiple-seats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 251px;
    overflow-y: auto;
     scrollbar-gutter: stable;
     margin-right: -12px;
     padding-right: 4px;
}

.discount-box-heading {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.discount-box-heading h4 {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.discount-box-heading p {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
}

.discount-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.discount-item-title {
    padding: 8px 15px;
}

.discount-item-title p {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}

.discount-item-box {
    border-radius: 5px;
    border: 1px solid #B7B7B7;
}

.discount-item-number-box {
    background-color: #236687;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 2px 4px;
    border-radius: 0px 0px 5px 5px;
}

.number-item h2 {
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
}

.price-box p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: -7px;
}

.price-box span {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
}

.discount-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
}


.sheet-right-price-box {
    background-color: #F0F0F0;
    border-radius: 8px;
}

.sheet-right-price-box table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.sheet-right-price-box-item,
.sub-items-box {
    padding: 10px 18px;
}

.sheet-right-price-box-item {
    padding: 10px 18px 0px 18px;
}

.sheet-right-price-box th,
.sheet-right-price-box td {
    padding: 8px 0px;
    font-size: 13px;
}

.sheet-right-price-box th:nth-child(1),
.sheet-right-price-box td:nth-child(1) {
    text-align: left;
    width: 160px;
}

.sub-items-box table tr:nth-child(2) td {
    color: #009405;
    font-size: 13px;
}

.sub-items-box table tr:nth-child(2) td[colspan="2"] {
    text-align: right;
    padding-right: 0px;
}

.sheet-right-price-box td:nth-child(2) {
    text-align: center;
    /* padding-right: 19px; */
}

.sheet-right-price-box td:nth-child(3) {
    text-align: end;
}

.sheet-right-price-box th:nth-child(2) {
    text-align: center;
    /* padding-right: 12px; */
}

.sheet-right-price-box th:nth-child(3) {
    text-align: right;
    padding-right: 10px;
}

.sub-items-box {
    background-color: #E5E5E5;
    border-radius: 8px;
}

.sub-items-box table tr:nth-child(1),
.sub-items-box table tr:nth-child(2) {
    border-bottom: 1px solid #BDBDBD;
}

.sheet-right-price-box table tbody tr:nth-child(1) {
    border-bottom: 1px solid #BDBDBD;
}

.sheet-right-pdt-box {
    border-radius: 8px;
    background-color: #F0F0F0;
    padding: 8px 0px 0px 0px;

}

.pdh-items {
    background-color: #F0F0F0;
    padding: 10px 18px 0px 18px;
    border-radius: 8px;
}
.pdh-items table{
    width: 100%;
}
.pdh-items table th{
    font-size: 13px;
    border: none;
}
.pdh-items table th:nth-child(1) {
    text-align: left;
    width: 160px;
    padding: 8px 0px;
}
.pdh-items table th:nth-child(2) {
    text-align: center;
     padding: 8px 0px;
}
.pdh-items table th:nth-child(3) {
    text-align: right;
     padding: 8px 10px 8px 0px;
}


.pdh-items-inner {
    max-height: 110px;
    overflow-y: auto;
    scrollbar-gutter: stable;
    margin-right: -12px;
    padding-right: 4px;
}
.multiple-seats::-webkit-scrollbar{
    width: 8px;
}
.multiple-seats::-webkit-scrollbar-thumb{
     background-color: #888;
    border-radius: 40px;
}
.multiple-seats::-webkit-scrollbar-track {
    background-color: #bdbdbd;
    border-radius: 40px;
}
.pdh-items-inner::-webkit-scrollbar {
    width: 8px;
}

.pdh-items-inner::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 40px;
}


.pdh-items-inner::-webkit-scrollbar-track {
    background-color: #bdbdbd;
    border-radius: 40px;
}

.pdh-regular-item {
    border-radius: 8px;
    padding: 8px 18px;
    background-color: #E5E5E5;
    font-weight: 600;
}

.sheet-right-pdt-box table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.sheet-right-pdt-box td {
    padding: 8px 0px;
}


.pdh-items-inner table tbody tr {
    border-bottom: 1px solid #BDBDBD;
}


.sheet-right-pdt-box td:nth-child(1) {
    text-align: left;
    max-width: 250px;
    font-size: 13px;
}

.sheet-right-pdt-box td:nth-child(2) {
    text-align: center;
    width: 100px;
    font-size: 13px;
    /* padding-left: 17px; */
}

.sheet-right-pdt-box td:nth-child(3) {
    text-align: right;
    width: 100px;
    font-size: 13px;
}

.account-sheet-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 420px;
}

.make-payment-box {
    border-radius: 8px;
    overflow: hidden;
    background-color: #F0F0F0;
}

.make-payment-box-item {
    background-color: #F0F0F0;
    padding: 10px 18px;
}

.make-payment-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7A00;
    border-radius: 8px;
    padding: 10px 0px;
}

.btn {
    width: 100%;
    background-color: #FF7A00;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    border-radius: 8px;
}

.make-payment-box-item table {
    width: 100%;
}

.make-payment-box-item table th:nth-child(1) {
    text-align: left;
    width: 160px;
    font-size: 13px;
}

.make-payment-box-item table th:nth-child(2) {
    text-align: center;
    font-size: 13px;
    /* padding-right: 44px; */
}

.make-payment-box-item table th:nth-child(3) {
    text-align: right;
    width: 100px;
    font-size: 13px;
}

.account-sheet-right-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pdh-items ul {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 13px;
}

.sub-items-box table tr:last-child td {
    font-weight: 600;
}