@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.badge {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  padding: 2px 10px;
  height: 20px;
  background-color: rgba(10, 60, 85, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 11px;
  font-weight: 400;
  line-height: 1;
}
.badge img {
  max-height: 100%;
  width: auto;
}
.mini-navigation-login__link {
  font-weight: 400;
}
.main-company-logo_nav-box {
  padding: 13px 0px;
}
.hero-section {
  background-image: url("../images/sky-bgc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.online-courses-heading {
  max-width: 570px;
  border-radius: 9px;
  background-color: #ffffff;
  padding: 18px 13px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.main-hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  gap: 20px;
}
.online-courses-heading h2 {
  color: #0a3c55;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}
.online-courses-heading p {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}
.hero-box {
  position: relative;
  right: 100px;
  bottom: -13px;
  align-self: flex-end;
}
.hero-box img {
  max-width: 253px;
}
.skills-heading {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15px;
}
.skills-heading h1 {
  color: #0a3c55;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.2;
}
.skills-heading p {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
}
.main-skills-section {
  padding-top: 72px;
}
.skills-nav-items__item {
  color: #0a3c55;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  padding: 10px 22px;
  background-color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  white-space: nowrap;
}

.skills-nav-items__item:hover {
  background: #7ad3ff8c;
}

.skills-box {
  background-color: #f4f4f4;
  border-radius: 16px;
  padding: 48px 38px 51px 38px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.skills-nav-items {
  display: flex;
  gap: 10px;
}
.skills-nav-items__item.active {
  background-color: #0a3c55;
  color: #ffffff;
}
.skills-box-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 31px;
}

.skills-card {
  border: 1px solid #e2e2e2;
  border-radius: 9px;
  cursor: pointer;
}
.figure-graph-box {
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.56);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  bottom: 0px;
  opacity: 75%;
}
.premium--badge {
  background-color: rgba(68, 167, 241, 1);
}
.graph-box-left p {
  color: rgba(255, 255, 255, 1);
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 0.9;
}
.graph-box-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.graph-box-right p {
  color: rgba(255, 255, 255, 1);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
}
.graph-box-left p > span {
  border-left: 1px solid #ffffff;
  padding-left: 5px;
}
.skills-card-text {
  padding: 22px 19px 17px 15px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 0px 0px 9px 9px;
}

.skills-card-figure {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 9px 9px 0 0;
  position: relative;
}

.skills-card-figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-text-heading h3 {
  color: rgba(0, 0, 0, 1);
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
}
.card-text-heading p {
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.card-text-heading {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card-dollar-box span {
  color: rgba(0, 0, 0, 1);
  font-size: 22px;
  font-weight: 600;
}
.card-dollar-box button {
  background-color: rgba(255, 122, 0, 0.15);
  border-radius: 4px;
  padding: 4px 10px;
  color: rgba(255, 122, 0, 1);
  font-size: 13px;
  font-weight: 400;
}
.card-text-bottom-box {
  display: flex;
  align-items: center;
  gap: 9px;
}
.badge--new-course {
  background-color: rgba(255, 122, 0, 1);
}
.card-dollar-box {
  display: flex;
  align-items: center;
  gap: 7px;
}
.skills-hover-heading h2 {
  color: #0a3c55;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
}
.skills-hover-heading {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.hover-badge-box {
  padding-bottom: 20px;
}

.skills-hover-box {
  max-width: 500px;
  width: max-content;
  padding: 37px 24px 40px 24px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 10px;
  border-radius: 8px;
  display: none;
  z-index: 10;
}
.skills-hover-box::before {
  content: "";
  position: absolute;
  top: 50%;
  border-radius: 9px;
  left: -13px;
  transform: translateY(-50%) rotate(41deg);
  width: 35px;
  height: 30px;
  background-color: #ffffff;
  /* border: 1px solid #ccc; */
}

.main-skills-card {
  position: relative;
  overflow: visible;
  border-radius: 9px;
}
.skills-hover-lesson {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 10px 0px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.skills-hover-lesson img {
  width: 16px;
  height: 16px;
}
.clock-box span {
  border-left: 1px solid #b4b1b1;
  padding-left: 5px;
}
.clock-box p {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 0.8;
}
.clock-box,
.beginner-box,
.user-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.clock-box,
.beginner-box,
.user-box p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.3;
  color: #818181;
}
.skills-hover-content p {
  color: #000000;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
}
.hover-listing-item {
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
}
.hover-listing-item {
  position: relative;
  padding-left: 28px;
}

.hover-listing-item::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 60%;
  transform: translateY(-50%) rotate(45deg);
  width: 5px;
  height: 10px;
  border-right: 3px solid #ff7a00;
  border-bottom: 3px solid #ff7a00;
}

.hover-listing-box-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 18px;
  padding-bottom: 29px;
}
.skills-hover-bottom-box {
  display: flex;
  align-items: center;
  gap: 9px;
}
.skills-hover-content {
  padding-top: 9px;
}
.btn.btn--start {
  background-color: #ff7a00;
  height: 38px;
  padding: 8px 15px 8px 18px;
  border-radius: 6px;
}
.btn.btn--start button {
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}
.btn.btn--Preview {
  height: 38px;
  border-radius: 6px;
  background-color: rgba(68, 167, 241, 1);
  cursor: pointer;
}
.btn.btn--Preview button {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.main-skills-card:hover .skills-hover-box {
  display: block;
  filter: drop-shadow(0px 0px 6px rgb(184, 183, 183));
}
.skills-box-cards .main-skills-card:nth-child(3n) .skills-hover-box {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: 10px;
}

.skills-box-cards .main-skills-card:nth-child(3n-1) .skills-hover-box {
  left: 70%;
  margin-left: 0;
}
.skills-box-cards .main-skills-card:nth-child(3n) .skills-hover-box::before {
  left: auto;
  right: -13px;
}
.skills-hover-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
  background-color: transparent;
  height: 420px;
  width: 15px;
}
.skills-box-cards .main-skills-card:nth-child(3n) .skills-hover-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 474px;
  transform: translateY(-50%);
  background-color: transparent;
  height: 405px;
  width: 15px;
}
.main-bundles-section {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.bundles-heading-box h2 {
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  line-height: 1.3;
  font-size: 35px;
}

.main-membereship-section {
  padding: 50px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.membereship-heading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.membereship-heading-box h2 {
  color: #000000;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.3;
}
.membereship-heading-box p {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}
.main-membereship-section .pricing-pro-box-right {
  background: linear-gradient(to bottom, #ffeee2, #f1f4f7);
  border: 2px solid #f9c89c;
}
.main-membereship-section .btn {
  background-color: #ff7a00;
  color: #ffffff;
}
.main-membereship-section .annual-part-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 12px 35px;
}

.main-membereship-section .annual-part-btn button {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}
.main-membereship-section .annual-part-btn p {
  font-size: 10px;
  background-color: #d16603;
  border-radius: 20px;
  padding: 0px 3px;
  display: flex;
  gap: 5px;
}
.life-btn img {
  width: 15px;
}
.main-membereship-section .annual-part-year-two,
.annual-part-year {
  gap: 0px;
  width: 50%;
}
.main-membereship-section .pro-annual-part {
  border-bottom: 1px solid #033144;
}
.main-membereship-section .annual-part-year-two h4 {
  margin-top: -7px;
}
.main-membereship-section .annual-part-year-two h4 > span {
  color: #ff7a00;
}
.main-membereship-section .pricing-pro-box-left {
  background: linear-gradient(to bottom, #001b26, #001b26);
}
.annual-part-year-two h3 {
  padding-bottom: 10px;
}
.pricing-pro-box-left em {
  color: #5b6c74;
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
.pricing-pro-box-left em::before {
  content: "";
  position: absolute;
  background-color: #5b6c74;
  height: 2px;
  width: 45px;
  top: 50%;
  left: 0;
}
.pricing-pro-box-right em {
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  color: #fec189;
}
.pricing-pro-box-right em::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 55px;
  top: 50%;
  left: 0;
  background-color: #fec189;
}
.annual-part-year h3 {
  padding-bottom: 10px;
}
.annual-part-year h4 {
  margin-top: -7px;
}
.pricing-pro-box-right .pro-annual-part {
  border-bottom: 1px solid #d7ccc4;
}
.annul-listing-inner li::before {
  top: 3px;
  width: 6px;
  height: 12px;
}
.annul-listing-inner {
  gap: 20px;
}

.mini-navigation-login-box {
  border-left: 1px solid transparent;
}
.mini-navigation_items-lists {
  border-right: 1px solid #ffffff;
}

.skills-nav-items {
  padding-bottom: 15px;
}
.skills-box-navbar {
  overflow: auto;
  scrollbar-color: #888 #f1f1f1; /* Firefox */
  scrollbar-width: thin;
}

.skills-box-navbar::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.skills-box-navbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.skills-box-navbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.skills-box-navbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.skills-box-navbar::-webkit-scrollbar-button {
  background-color: #ccc;
  height: 10px;
  width: 10px;
}
.logo-email input::placeholder {
  color: rgb(92 96 98);
  font-size: 18px;
  font-weight: 500;
}
.click-item ul {
  max-width: 205px;
}
.membereship-section {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(236, 244, 252, 1)
  );
}
.youtube-logo img {
  width: 30px;
}
.linkedin-logo img {
  width: 30px;
}
/*Start media quary*/
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1300px) {
  .skills-nav-items__item {
    padding: 10px 13px;
    border-radius: 17px;
  }
  .main-skills-section {
    padding-top: 40px;
  }
  .skills-heading h1,
  .bundles-heading-box h2,
  .membereship-heading-box h2 {
    font-size: 30px;
  }
  .online-courses-heading h2 {
    font-size: 28px;
  }
  .online-courses-heading p {
    font-size: 17px;
  }
  .online-courses-heading {
    max-width: 533px;
  }
  .skills-box {
    padding: 40px 30px;
    gap: 30px;
  }
  .card-text-heading h3,
  .card-dollar-box span {
    font-size: 20px;
  }
  .skills-box-cards {
    gap: 25px;
  }
  .main-bundles-section {
    gap: 25px;
    padding: 40px 0px;
  }
  .main-membereship-section {
    padding: 40px 0px;
    gap: 25px;
  }
  .membereship-heading-box p {
    font-size: 20px;
  }
  .skills-box-cards .main-skills-card:nth-child(3n-1) .skills-hover-box {
    left: 63%;
    margin-left: 0;
  }
  .skills-hover-box {
    padding: 30px 20px;
    max-width: 461px;
  }
  .hover-listing-box-items {
    padding: 15px 0px;
  }
  .skills-hover-heading {
    gap: 14px;
  }
  .hover-badge-box {
    padding-bottom: 10px;
  }
  .clock-box,
  .beginner-box,
  .user-box p {
    font-size: 12px;
  }
}
@media screen and (max-width: 1120px) {
  .skills-nav-items__item {
    font-size: 14px;
  }
  .hero-box img {
    max-width: 220px;
  }
  .online-courses-heading h2 {
    font-size: 26px;
  }
  .online-courses-heading p {
    font-size: 16px;
  }
  .online-courses-heading {
    max-width: 491px;
    padding: 15px;
  }
  .main-skills-section {
    padding-top: 30px;
  }
  .skills-heading h1,
  .bundles-heading-box h2,
  .membereship-heading-box h2 {
    font-size: 28px;
  }
  .skills-heading p {
    font-size: 20px;
  }
  .card-text-heading h3,
  .card-dollar-box span {
    font-size: 18px;
  }
  .skills-box {
    padding: 30px 30px;
    gap: 25px;
  }
  .main-bundles-section {
    gap: 25px;
    padding: 30px 0px;
  }
  .main-membereship-section {
    padding: 30px 0px;
    gap: 25px;
  }
  .membereship-heading-box {
    gap: 10px;
  }
  .membereship-heading-box p {
    font-size: 18px;
  }
  .skills-box-cards {
    gap: 20px;
  }
  .skills-hover-box {
    max-width: 400px;
    padding: 25px 20px;
  }
  .skills-hover-lesson {
    flex-direction: column;
    gap: 8px;
  }
  .clock-box,
  .beginner-box,
  .user-box p {
    font-size: 13px;
  }
  .skills-hover-heading h2 {
    font-size: 20px;
  }
  .btn.btn--start {
    height: 36px;
    padding: 8px 12px;
  }
  .btn.btn--Preview {
    height: 36px;
    padding: 8px 12px;
  }
  .skills-hover-content p {
    font-size: 13px;
  }
  .btn.btn--start button {
    font-size: 13px;
  }
}
@media screen and (max-width: 991px) {
  .hero-box img {
    max-width: 150px;
  }
  .online-courses-heading {
    max-width: 432px;
    padding: 12px;
    gap: 8px;
  }
  .online-courses-heading h2 {
    font-size: 22px;
  }
  .online-courses-heading p {
    font-size: 14px;
  }

  .main-skills-section {
    padding-top: 25px;
  }
  .skills-heading h1,
  .bundles-heading-box h2,
  .membereship-heading-box h2 {
    font-size: 25px;
  }
  .skills-heading p {
    font-size: 16px;
  }
  .skills-heading {
    gap: 8px;
  }
  .skills-box {
    padding: 25px 30px;
    gap: 20px;
  }
  .skills-box-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-bundles-section {
    gap: 20px;
    padding: 25px 0px;
  }
  .main-membereship-section {
    padding: 25px 0px;
    gap: 20px;
  }
  .membereship-heading-box p {
    font-size: 16px;
  }

  .main-membereship-section .annual-part-btn button {
    font-size: 14px;
  }
  .main-membereship-section .annual-part-btn {
    gap: 7px;
    padding: 12px 20px;
  }
  .pricing-pro-box-left em::before {
    width: 33%;
  }
  .pricing-pro-box-right em::before {
    width: 43%;
  }
  .main-skills-card:hover .skills-hover-box {
    display: none;
  }
  .pro-annual-part {
    gap: 0px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0px 15px;
  }
  .online-courses-heading h2 {
    font-size: 20px;
  }
  .online-courses-heading p {
    font-size: 12px;
  }
  .online-courses-heading {
    max-width: 314px;
    padding: 10px;
    gap: 5px;
  }
  .hero-box img {
    max-width: 130px;
  }

  .main-skills-section {
    padding-top: 20px;
  }
  .skills-heading h1,
  .bundles-heading-box h2,
  .membereship-heading-box h2 {
    font-size: 22px;
  }
  .skills-heading p {
    font-size: 14px;
  }
  .skills-heading {
    gap: 5px;
    text-align: center;
  }
  .skills-box {
    padding: 20px 10px;
    gap: 15px;
    border-radius: 10px;
  }
  .graph-box-right p,
  .graph-box-left p {
    font-size: 11px;
  }
  .card-text-heading p {
    font-size: 14px;
  }
  .card-text-heading h3,
  .card-dollar-box span {
    font-size: 16px;
  }
  .main-bundles-section {
    gap: 15px;
    padding: 20px 0px;
  }
  .main-membereship-section {
    padding: 20px 0px;
    gap: 15px;
  }
  .membereship-heading-box p {
    font-size: 14px;
  }
  .pricing-pro-box-left em::before {
    width: 50px;
  }
  .pricing-pro-box-right em::before {
    width: 60px;
  }
  .main-membereship-section .annual-part-btn button {
    font-size: 16px;
  }

  .main-membereship-section .annual-part-btn {
    gap: 3px;
    width: 50%;
  }
  .pro-annual-part {
    display: inline-flex;
  }
}
@media screen and (max-width: 575px) {
  .main-membereship-section .annual-part-btn button {
    font-size: 14px;
  }
  .skills-box-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .online-courses-heading h2 {
    font-size: 18px;
  }
  .online-courses-heading {
    max-width: 265px;
    padding: 8px;
    gap: 5px;
  }
  .hero-box img {
    max-width: 100px;
  }
  .hero-box {
    right: 15px;
  }
  .skills-heading h1,
  .bundles-heading-box h2,
  .membereship-heading-box h2 {
    font-size: 18px;
  }
  .skills-heading p {
    font-size: 13px;
  }
  .skills-box-cards {
    gap: 15px;
  }
  .membereship-heading-box p {
    font-size: 13px;
  }
  .membereship-heading-box {
    gap: 5px;
  }
}

@media screen and (max-width: 425px) {
  .skills-nav-items__item {
    font-size: 12px;
  }
  .main-membereship-section .annual-part-year-two,
  .annual-part-year {
    width: 100%;
  }
  .main-membereship-section .annual-part-btn {
    width: 100%;
  }
  .pro-annual-part {
    display: block;
  }
  .container {
    padding: 0px 10px;
  }
  .online-courses-heading h2 {
    font-size: 14px;
  }
  .online-courses-heading {
    min-width: 208px;
  }
  .hero-box img {
    width: 80px;
  }
  .hero-box {
    right: 0;
  }
  .main-skills-section {
    padding-top: 15px;
  }
  .skills-heading h1,
  .bundles-heading-box h2,
  .membereship-heading-box h2 {
    font-size: 16px;
  }
  .skills-heading p {
    font-size: 12px;
    line-height: 1.2;
  }
  .skills-box-cards {
    gap: 10px;
  }
  .main-membereship-section .annual-part-btn button {
    font-size: 14px;
  }
  .main-bundles-section {
    gap: 10px;
    padding: 15px 0px;
  }
}
